<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="static/css/style-feedback.css">
  </head>
  <body>

<form class="box" action="/feedback" method="POST" autocomplete="off">
  <h1>Feedback Form</h1>
  <input type="text" name="name" placeholder="Name or USN">
  <input type="text" name="feed" placeholder="Type Here">
  <input type="submit" name="" value="Submit">
<h3>Note:</h3>
<h6><i>* Subjects at the top 4 of all the branches carries 4 Credit Score.</i></h6>
<h6><i>* Subjects except top 4 carries 3 Credit Score.</i></h6>
<h6><i>* Labs carries 2 Credit Score.</i></h6>
<h6><i>* If any change in the Credit Score mentioned in above please fill the feedback form with the name "Change" and write the desired changes to be made in the descriptio of text box.</i></h6>
</form>




  </body>
</html>
