<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
      <link rel="stylesheet" href="static/css/style-login.css">
  </head>
  <body>

<form class="box" action="/login" method="POST" autocomplete="off">
  <h1>Admin</h1>
  <input type="text" name="user" placeholder="Username">
  <input type="password" name="pass" placeholder="Password">
  <input type="submit" name="" value="Login">
  {{val}}
</form>


  </body>
</html>
