<html>
    <head>
        <link href="/static/css/tech_news_css.css" rel="stylesheet" media="all">
    </head>
    {% for i in range(len1) %}
    <body>

        <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-image">
                    <img class="img-responsive" src={{img_url[i]}}>
                    <span class="card-title">{{authers[i]}}</span>
                    <div><p class="des"><strong>Description :</strong><br>{{description[i]}}</p></div>
                  </div>
          
                  <div class="card-content">
                      <h4>Title:</h4>
                    <p>{{title[i]}}</p>
                  </div>
                  <div class="card-action">
                    <a href="{{url[i]}}" target="new_blank">Reference</a>
          
                  </div>
                
                </div>
          
              </div>
            </div>
          
          </div>


    </body>
    {% endfor %}
</html>